body{
    background-color: rgb(105,157,189)
}
ul{
    display: flex;
    justify-content: center;
    padding-bottom: 25px
}
li{
    justify-content: space-evenly;
    font-size: 40px;
    margin: 0px 100px 0px;
    display: inline;

}
a{
    font-family: 'nunito', sans-serif;
    color: white;
    text-decoration: none;
}
.row1{
    display: flex;
    background-color: rgba(105, 157, 189, 0.799);
    outline: dashed;
    /* margin: 0px 50px; */
    height: 330px;
    margin-bottom: 20px;
    z-index: 1;
}
.col-5{
    background-color: none;
}
.me{
    margin: 15px 0px;
}
.name{
    display: flex;
    justify-content: center;
    background-color: none;
    font-size: 50px;
    padding: auto;
    font-family: "Nunito", sans-serif;
}
.indieName{
    display: flex;
    justify-content: center;
    background-color: none;
    font-size: 30px;
    padding: auto;
    font-family: "Lato", sans-serif;
}
.indieAbout{
    color: white;
}
.rePro{
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: white;
    font-family: 'nunito', sans-serif;
}
.row2{
    /* margin: 0px 1% */
}
.indie{
    margin-top: 50px
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.game {
    margin: 20px;
    width: 100%;
    height: 100vh;
}